<h1>Inferno</h1>

<h2>Add a new feed</h2>
<form action="/" method="post">
  Slug: <input type="text" name="slug" placeholder="e.g. toms-blog" />
  URL: <input type="text" name="url" placeholder="e.g. http://example.com/rss/feed" />

  <input type="submit" value="Submit" />
</form>
